<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <comment>Sample property files for testing the definition of the config files directory</comment>
    <entry key="name">Hazard</entry>
    <entry key="age">26</entry>
    <entry key="probability">1</entry>
</properties>
